@import "header";

#article {
  margin-left: 305px;
  min-height: 100%;
  background: $darkBlue;
  border-left: 5px $lightBlue solid;
}

#articleBody {
  color: honeydew;
  margin: 0px;
}

#articleTitle {
  text-align: center;
  font-size: xx-large;
  padding-top: 20px;
  font-weight: 600;
  color: white;
}

#articleCreateTime {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px honeydew solid;
  text-align: center;
  color: white;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#articleContent {
  line-height: 1.8;
  margin: 10px;
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
  background-color: $darkBlue2;
  padding: 10px;
  overflow: auto;
}

h1, h2, h3 {
  color: $yellow;
  margin: 10px 0 10px;
}

h4, h5, h6 {
  //font-size: 100%;
  color: $yellow;
}

a {
  color: $lightBlue;
}

#index {
  width: 300px;
  height: 100%;
  background: $darkBlue;
  margin-right: 5px;
  position: fixed;
}

#index a {
  color: honeydew;
  text-decoration: none;
  font-size: small;
}

.item {
  cursor: pointer;
  color: honeydew;
}

.bold {
  font-size:medium;
}

ul {
  padding-left: 1.5em;
  line-height: 1.5em;
  list-style-type: dot;
}
.my-scrollbar{
  width: 35%;
  min-width: 300px;
  max-height: 100%;
  background-color: $darkBlue !important;
}

/*The Content*/
.scroll-me{
  min-width: 750px;
}
.vue-scrollbar__scrollbar-vertical .scrollbar{
  background: rgba($lightBlue,0.5) !important;
}