@import "header";

#article {
  margin-left: 305px;
  background: $darkBlue;
  border-left: 5px $lightBlue solid;
}

#articleBody {
  color: honeydew;
  margin: 10px;
}

#articleTitle {
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
  font-weight: 600;
  color: white;
}

#articleCreateTime {
  margin-top: 10px;
  text-align: center;
  color: white;
}

#articleContent {
  margin-top: 10px;
  line-height: 1.8;
}

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace;
  background-color: $darkBlue2;
  padding: 10px;
  overflow: auto;
}

h1, h2, h3 {
  color: $yellow;
  margin: 10px 0 10px;
}

h4, h5, h6 {
  //font-size: 100%;
  color: $yellow;
}

a {
  color: $lightBlue;
}