@import "header";

#articleList {
  margin-left: 305px;
  background: $darkBlue;
}

.articleItem {
  color: whitesmoke;
  border-left: 5px $lightBlue solid;
  padding: 10px 10px 0;
  &:hover {
    background-color: $darkBlue2;
  }
}

.articleTitle {
  height: 50px;
  font-size: large;
  font-weight: 600;
  color: honeydew;
}

.articleAbstract {
  font-size: medium;
  border-bottom: 2px $darkBlue2 solid;
  padding-bottom: 10px;
  color: honeydew;
}

.time {
  font-size: large;
  border-left: 5px #FFD700 solid;
  color: #FFD700;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
