extends layout

block content
    div#header
        div#headBackground
            div#headImg
        div
            div#title="提莫的博客"
            div.container
                div.category.index.
                    首页
            div.container
                div.category.
                    归档
            div.container
                div.category.
                    关于
    div#articleList

    script(type="text/javascript" src="/javascript/header.js")