doctype html
html
    head
        title= title
    body
        div#header
            div#headBackground
                div#headImg
            div
                div#title="提莫的博客"
                div.container
                    div.category.
                        首页
                div.container
                    div.category.
                        归档
                div.container
                    div.category.
                        关于
        div#articleList
            div.time.
                2016.08.05
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.time.
                2016.08.03
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.time.
                2016.07.03
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...
            div.articleItem
                div.articleTitle.
                    在 Mac OS X 上安装和配置 Wine
                div.articleAbstract.
                    Windows 上也有很多优秀的工具软件是 Mac 上没有的， 装虚拟机的话太浪费， 而且效率不高， 幸好可以通过 Wine 来运行 Windows 程序， 通过 HomeBrew 使得 Wine 的安装非常容易， 通过 WineTricks 来配置 Wine 也没有多大困难， 下面是我在 Mac 上安装和配置 Wine 的纪录。 安装 Wine 和 WineTricks 这一步推荐通过 HomeBrew 进行安装， 命令如下： brew install wine brew install winetricks 装完之后先运行一下 winecfg 命令， 初始化配置， 什么也...

    script(type="text/javascript" src="/javascript/header.js")