doctype html
html
    head
        title= title
    body
        div#header
            div#headImg
        div#articleList.
            dasdsada
    script(type="text/javascript" src="/javascript/header.js")