
.ds-thread {
  padding:10px;
  color: honeydew;
}

#ds-reset .ds-highlight {
  color: #FF606E !important;
}

#ds-thread #ds-reset .ds-username {
  color: #FF606E !important;
}

#ds-thread #ds-reset .ds-comment-body p {
  color: honeydew;
}

#ds-thread #ds-reset li.ds-tab a.ds-current {
  text-shadow: none;
  color: honeydew;
  border-color: honeydew;
}

#ds-thread #ds-reset .ds-comment-body a:hover {
  color: #FFD700;
}

#ds-thread #ds-reset .ds-textarea-wrapper textarea, #ds-thread #ds-reset .ds-textarea-wrapper .ds-hidden-text {
  background-color: rgb(47, 47, 47);
}

#ds-thread #ds-reset .ds-sort a:hover {
  color: #FFD700;
}

#ds-thread #ds-reset .ds-powered-by a:hover {
  color: #FFD700;
}

#ds-reset .ds-avatar img {
  border-radius: 50px;
  border: #2C3242 2px solid;
  box-shadow: none;
}

#ds-reset .ds-avatar {
  box-shadow: none;
  background-color: rgb(35, 35, 35);
}

#ds-thread #ds-reset .ds-textarea-wrapper textarea {
  color: honeydew;
}

#ds-thread #ds-reset .ds-textarea-wrapper .ds-hidden-text {
  color: honeydew;
}

#ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active {
  border-bottom: 3px solid #00DDD8;
}

#ds-thread #ds-reset a.ds-comment-context {
  color: #00DDD8;
}

#ds-thread #ds-reset .ds-add-emote {
  display: none;
}

#ds-thread #ds-reset #ds-bubble {
  background-color: rgb(47, 47, 47);
}

#ds-thread #ds-reset .ds-post-liked a.ds-post-likes {
  color: #00DDD8;
}