@import "header";

#articleList {
  border-left: 5px $lightBlue solid;
  min-height: 100%;
  margin-left: 305px;
  background: $darkBlue;
}

.articleItem {
  color: whitesmoke;
  border-left: 5px $lightBlue solid;
  padding: 10px 10px 0;
  margin-left: -5px;
  &:hover {
    background-color: $darkBlue2;
  }
}

.addMore {
  margin-left: -5px;
  text-align: center;
  color: $lightBlue;
  border-left: 5px $lightBlue solid;
  padding: 10px 10px 50px;
  font-size: large;
  &:hover {
    background-color: $darkBlue2;
  }
}

.noMore {
  margin-left: -5px;
  text-align: center;
  color: $lightBlue;
  border-left: 5px $lightBlue solid;
  padding: 10px 10px 50px;
  font-size: large;
  &:hover {
    background-color: $darkBlue2;
  }
}


.articleTitle {
  height: 50px;
  font-size: large;
  font-weight: 600;
  color: honeydew;
}

.articleAbstract {
  font-size: medium;
  border-bottom: 2px $darkBlue2 solid;
  padding-bottom: 10px;
  color: honeydew;
}

.time {
  margin-left: -5px;
  font-size: large;
  border-left: 5px #FFD700 solid;
  color: #FFD700;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
